{name, "gproc"}.
{description, "Extended process registry for Erlang"}.
{url, {git, "https://github.com/esl/gproc.git","HEAD"}}.
{rebar_compatible, true}.
{applications, [gproc]}.
{authors, ["Ulf Wiger <ulf.wiger@ericsson.com>"]}.
{license, "Erlang Public License"}.
{caveats, "@esl version has merged into @master version and will be eventually removed"}.
